body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#game-container {
  height: 1000px;
  width: 1000px;
  background-color: green;
}

#target {
  height: 100px;
  width: 100px;
  border-radius: 200px;
  background-color: red;
  position: relative;
  left: 45%;
  top: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
